<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan department">

	<test name="Personal loan">
		<classes>
			<class name="testNG.TestcaseSample" />
			<class name="testNG.testdemo" />
		</classes>
	</test> <!--
	Test -->

	<test name="Home loan">
		<classes>
			<class name="testNG.testdemo2">
				<methods>
					<exclude name="Mobileloginpage" />
					<include name="Mobileloginpagerename" />
				</methods>
			</class>
		</classes>
	</test> <!--
	Test -->

</suite> <!--
Suite -->
